
/* whole html */
html {
    width: 100%;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
  }
  
  /* the body of html */
  body {
    margin: 0;
    padding: 0;
  }

/* the second map: leaflet */
#map {
  width: 100%;
  height: 100%;
}

